h1,
h2 {
    background-color: #052741;
    font-size: 2em;

}


body {
    background-color: #63b4f3;
}


main {
    background-color: #e1f1fd;
}



.somename {

    color: white;
}

.someothername {color:#052741;}

h1,h2 {
    font-family:futura;
}

ul {font-family:futura;}
