.flex-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}


html {
    color: white;
    box-sizing: border-box;
    margin: 0;


}

form {
    
    padding-left: 15px;
    
    font-family: futura;
    
}


nav {
    
    font-family: futura;
}


.fronttitle {
    text-align: center;

    color: #e1f1fd;

    font-size: 4.0em;

    border: 10px solid #e1f1fd;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;

    padding: 15px 15px 15px 15px;


}



h1 {
    background-color: #052741;
    font-size: 2em;

}

#subtitle{
    color:#052741;
    font-size: 3em;
    padding: 0px 0px 0px 35px; 
}

#subtitle2{
    color:#052741;
    font-size: 2em;
    padding: 0px 0px 0px 175px; 
    
}


body {
    /*    background-image: url("../images/test2.png");*/

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


main {
    background-color: #e1f1fd;
    padding: 5px 5px 5px 5px
}


.portfoliotitles {
    text-align: center;
    color:  #052741;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
}


.someothername {
    color: #052741;
    font-family: futura;
}

h1,
h2 {
    font-family: futura;
}

ul {
    font-family: futura;
}


main ul li {
    color: cornflowerblue;

}

img:hover {
    opacity: .8;
    transform: scale(1.03);

}

nav{
    text-align: left;

}

a:hover {
    color: white;
}

form p{
    display: flex;
    flex: 1;
    align-content:center;
    flex-direction: column;
    margin: 15px;
 padding: 0px 100px 0px 100px
  
}

form label{
    flex-basis: 60%;
    align-content: center;
    
}

form input, textarea, select {
    flex:1;
    align-content: center;
    margin: 0 1em;
    border-radius: 10px;
}

@media screen and (max-width: 50rem) {
    header, 
    main, 
    footer,
    form p{
        flex-direction: column;
    }
}