html {
    color:white;
    box-sizing: border-box;
    margin: 0;
    
    
}




#fronttitle {

    color: #e1f1fd;

    font-size: 4.0em;

    border: 10px solid #e1f1fd;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;

padding: 15px 15px 15px 15px;
    
    
}


h1,
h2 {
    background-color: #052741;
    font-size: 2em;

}


body {
/*    background-image: url("../images/test2.png");*/
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/test2.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


main {
    background-color: #e1f1fd;
}



.somename {

    color: white;
    
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.someothername {
    color: #052741;
}

h1,
h2 {
    font-family: futura;
}

ul {
    font-family: futura;
}


